    .hidden {
        display: none;
    }

    .version_1 { /*red*/
		color: white;
        background: #ff0000;
    }

    .version_2 { /*blue*/
		color: white;
        background: #0000ff;
    }

    .version_3 { /*yellow*/
		color: black;
        background: #ffff00;
    }

    .version_4 { /*gold*/
		color: white;
        background: #D2C21A;
    }

    .version_5 { /*silver*/
		color: white;
        background: #A0A0A0;
    }

    .version_6 { /*crystal*/
		color: white;
        background: #00B3F5;
    }

    .version_7 { /*ruby*/
		color: white;
        background: #B80000;
    }

    .version_8 { /*shappire*/
		color: white;
        background: #0D00B8;
    }

    .version_9 { /*emerald*/
		color: white;
        background: #11B800;
    }

    .version_10 { /*firered*/
		color: white;
        background: #FF7200;
    }

    .version_11 { /*leafgreen*/
		color: white;
        background: #4B9C0A;
    }

    .version_12 { /*diamond*/
		color: white;
        background: #6077FF;
    }

    .version_13 { /*pearl*/
		color: white;
        background: #FC72E4;
    }

    .version_14 { /*platinum*/
		color: white;
        background: #6B6B6B;
    }

    .version_15 { /*heartgold*/
		color: white;
        background: #D19A19;
    }

    .version_16 { /*soulsilver*/
		color: white;
        background: #B8B8B8;
    }

    .version_17 { /*black*/
		color: white;
        background: black;
    }

    .version_18 { /*white*/
		color: black;
        background: white;
    }

    .version_21 { /*black2*/
		color: white;
        background: black;
    }

    .version_22 { /*white2*/
		color: black;
        background: white;
    }

    .version_23 { /*x*/
		color: white;
        background: #1f476c;
    }

    .version_24 { /*y*/
		color: white;
        background: #d22b45;
    }

    .version_25 { /*omeraruby*/
		color: white;
        background: #D4400F;
    }

    .version_26 { /*alphashappire*/
		color: white;
        background: #008CB3;
    }

    .version_27 { /*sun*/
		color: white;
        background: #F5941D;
    }

    .version_28 { /*moon*/
		color: white;
        background: #b43deb;
    }

    .version_29 { /*ultrasun*/
		color: #F5941D;
        background: #452600;
    }

    .version_30 { /*ultramoon*/
		color: #b43deb;
        background: #230c2e;
    }

    .version_31 { /*letsgopikachu*/
		color: black;
        background: #fff836;
    }

    .version_32 { /*letsgoeevee*/
		color: white;
        background: #9e6237;
    }

    .version_33 { /*sword*/
		color: white;
        background: #00A0E9;
    }

    .version_34 { /*shield*/
		color: white;
        background: #e5005a;
    }

    .version_37 { /*brilliantdiamond*/
		color: white;
        background: #99C0E1;
    }

    .version_38 { /*shiningpearl*/
		color: white;
        background: #EFA7B9;
    }

    .version_39 { /*arceus*/
		color: white;
        background: #59B388;
    }

    .version_40 { /*scarlet*/
		color: white;
        background: #9E2A22;
    }

    .version_41 { /*violet*/
		color: white;
        background: #552277;
    }

    .version_grp_red-blue {
		color: white;
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100%);
    }

    .version_grp_yellow {
		color: black;
        background: #ffff00;
    }

    .version_grp_gold {
		color: white;
        background: linear-gradient(90deg, rgba(210,194,26,1) 0%, rgba(160,160,160,1) 100%);
    }

    .version_grp_crystal {
		color: white;
        background: #00B3F5;
    }

    .version_grp_ruby-sapphire {
		color: white;
        background: linear-gradient(90deg, rgba(184,0,0,1) 0%, rgba(13,0,184,1) 100%);
    }

    .version_grp_emerald {
		color: white;
        background: #11B800;
    }

    .version_grp_firered-leafgreen {
		color: white;
        background: linear-gradient(90deg, rgba(255,114,0,1) 0%, rgba(75,156,10,1) 100%);
    }

    .version_grp_diamond-pearl {
		color: white;
        background: linear-gradient(90deg, rgba(96,119,255,1) 0%, rgba(252,114,228,1) 100%);
    }

    .version_grp_platinum {
		color: white;
        background: #6B6B6B;
    }

    .version_grp_heartgold-soulsilver {
		color: white;
        background: linear-gradient(90deg, rgba(209,154,25,1) 0%, rgba(184,184,184,1) 100%);
    }

    .version_grp_black-white {
		color: white;
        background: linear-gradient(90deg, rgba(66,66,66,1) 0%, rgba(242,242,242,1) 100%);
    }

    .version_grp_black-2-white-2 {
		color: white;
        background: linear-gradient(90deg, rgba(66,66,66,1) 0%, rgba(242,242,242,1) 100%);
    }

    .version_grp_x-y {
		color: white;
        background: linear-gradient(90deg, rgba(31,71,108,1) 0%, rgba(210,43,69,1) 100%);
    }

    .version_grp_omegaruby-alphasapphire {
		color: white;
        background: linear-gradient(90deg, rgba(212,64,15,1) 0%, rgba(0,140,179,1) 100%);
    }

    .version_grp_sun-moon {
		color: white;
        background: linear-gradient(90deg, rgba(245,148,29,1) 0%, rgba(180,61,235,1) 100%);
    }

    .version_grp_ultra-sun-ultra-moon {
		color: white;
        background: linear-gradient(90deg, #F5941D 0%, #b43deb 100%);
    }

    .version_grp_lets-go-pikachu-lets-go-eevee {
		color: white;
        background: linear-gradient(90deg, #fff836 0%, #9e6237 100%);
    }

    .version_grp_sword-shield {
		color: white;
        background: linear-gradient(90deg, rgba(0,160,233,1) 0%, rgba(229,0,90,1) 100%);
    }

    .version_grp_brilliant-diamond-and-shining-pearl {
		color: white;
        background: linear-gradient(90deg, rgba(96,119,255,1) 0%, rgba(252,114,228,1) 100%);
    }

    .version_grp_legends-arceus {
		color: white;
        background: #59B388;
    }

    .version_grp_scarlet-violet {
		color: white;
        background: linear-gradient(90deg, #9E2A22 0%, #552277 100%);
    }

    .contest-type-cool {
        background-color: #F08030;
        color: white;
    }

    .contest-type-beauty {
        background-color: #6890F0;
        color: white;
    }

    .contest-type-cute {
        background-color: #F85888;
        color: white;
    }

    .contest-type-smart {
        background-color: #78C850;
        color: white;
    }

    .contest-type-tough {
        background-color: #F8D030;
        color: white;
    }

    .pkmn-card-img {
        height: 100px;
    }

    .pkmn-img {
        height: 300px;
    }

    .pkmn-color-black {
        background-color: black;
        color: white;
    }

    .pkmn-color-blue {
        background-color: blue;
        color: white;
    }

    .pkmn-color-brown {
        background-color: brown;
        color: white;
    }

    .pkmn-color-gray {
        background-color: gray;
        color: black;
    }

    .pkmn-color-green {
        background-color: green;
        color: white;
    }

    .pkmn-color-black {
        background-color: black;
        color: white;
    }

    .pkmn-color-pink {
        background-color: pink;
        color: black;
    }

    .pkmn-color-purple {
        background-color: purple;
        color: white;
    }

    .pkmn-color-red {
        background-color: red;
        color: white;
    }

    .pkmn-color-white {
        background-color: grey;
        color: white;
    }

    .pkmn-color-yellow {
        background-color: yellow;
        color: black;
    }

    .ability-hidden {
        background-color: #669999;
        color: white;
    }

    .ability {
        background-color: #cc9900;
        color: white;
    }

    .type-bug {
        background-color: #91a119;
        color: white;
    }

    .type-dark {
        background-color: #50413f;
        color: white;
    }

    .type-dragon {
        background-color: #5061e1;
        color: white;
    }

    .type-electric {
        background-color: #fac000;
        color: white;
    }

    .type-fairy {
        background-color: #ef71ef;
        color: white;
    }

    .type-fighting {
        background-color: #ff8000;
        color: white;
    }
	
    .type-fire {
        background-color: #e62829;
        color: white;
    }

    .type-flying {
        background-color: #81b9ef;
        color: white;
    }

    .type-ghost {
        background-color: #704170;
        color: white;
    }

    .type-grass {
        background-color: #3fa129;
        color: white;
    }

    .type-ground {
        background-color: #915121;
        color: white;
    }

    .type-ice {
        background-color: #3fd8ff;
        color: white;
    }

    .type-normal {
        background-color: #9fa19f;
        color: white;
    }

    .type-poison {
        background-color: #8f41cb;
        color: white;
    }

    .type-psychic {
        background-color: #ef4179;
        color: white;
    }

    .type-rock {
        background-color: #afa981;
        color: white;
    }

    .type-steel {
        background-color: #60a1b8;
        color: white;
    }

    .type-water {
        background-color: #2980ef;
        color: white;
    }